<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Elección de Etiqueta</span>
</div>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle1">Mostrar Etiqueta<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle2">Mostrar Tag<br />
</label>
<div class="config-option-format">
	<input id="titleText" ng-model="config.TitleText" config="config">
	</input>
</div>


<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Personalizacion de Tag</span>
</div>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle3">Mostrar Etiqueta<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle4">Mostrar Valor<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle5">Mostrar TimeSpam<br />
</label>

<!-- *********************  NUEVO  Primer Color  ******************* -->
<br>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Configuracion General</span>
</div>

<div class="config-option-format">
	<pv-color-picker id="seriesColor" ng-model="config.seriesColorBar" config="config">
	</pv-color-picker>
</div>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle6">Bold<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="number" ng-model="config.fontSize">Text Size<br />
</label>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="number" ng-model="config.fontSize1">Rotación<br />
</label>

<br>
Alineacion:
<br>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="number" ng-model="config.fontSize2">Eje Y<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="number" ng-model="config.fontSize3">Eje X<br />
</label>

<br />


<!-- *********************  NUEVO Barra Medidora  ******************* -->
<br>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Configuración de Enlace</span>
</div>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle7">Activar<br />
</label>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle8">Permutar a Valor<br />
</label>

<div class="config-option-format">
	<input id="titleText1" ng-model="config.TitleText1" config="config">
	</input>
</div>
<br />


