<!-- *****************  CONFIGURACION DEL TEXTO *********************** -->
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Eleccion de Contenido</span>
</div>

<div class="config-option-format">
	<input id="titleText" ng-model="config.TitleText" config="config">
	</input>
</div>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle">Mostrar Título<br />
</label>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Texto</span>
</div>

<div class="config-option-format">
	<pv-color-picker id="textColor" ng-model="config.textColor" config="config">
	</pv-color-picker>
</div>

<!-- **************** CAMBIO PARA EL TAMAÑO DEL TEXTO **************** -->
<div style="font-size: 14px; position:relative; margin-top: 4px; margin-bottom: 10px">
	<font-resize id="FontSize" ng-model="config.FontSize"></font-resize>
</div>

<!-- *********************  CHANGE THE COLORS   ******************* -->
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">SeriesBar</span>
</div>

<div class="config-option-format">
	<pv-color-picker id="seriesColor" ng-model="config.seriesColorBar" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor1" ng-model="config.seriesColorBar1" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor2" ng-model="config.seriesColorBar2" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor3" ng-model="config.seriesColorBar3" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor4" ng-model="config.seriesColorBar4" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor5" ng-model="config.seriesColorBar5" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor6" ng-model="config.seriesColorBar6" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor7" ng-model="config.seriesColorBar7" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor8" ng-model="config.seriesColorBar8" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor9" ng-model="config.seriesColorBar9" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor10" ng-model="config.seriesColorBar10" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor11" ng-model="config.seriesColorBar11" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor12" ng-model="config.seriesColorBar12" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor13" ng-model="config.seriesColorBar13" config="config">
	</pv-color-picker>

	<pv-color-picker id="seriesColor14" ng-model="config.seriesColorBar14" config="config">
	</pv-color-picker>

</div>
<br />
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Configurar Modelo 3D</span>
</div>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle2">Mostrar Modelo 3D<br />
</label>
<!-- ************* CONFIGURACIÓN DEL BALLOOM TEXT ********************* -->

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Texto del PoopUp</span>
</div>
<div class="config-option-format" style="font-size: 14px; position:relative; margin-top: 4px; margin-bottom: 10px">
	Text Size  <input type="number" id="fontSizeUp" ng-model="config.fontSizeUp">
</div>
<!-- *************** CHANGE TITLE AND SIZE *************** -->
<!-- <div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Title</span>
</div>

<div class="config-option-format">
	<input id="titleText" ng-model="config.TitleText" config="config">
	</input>
</div>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle">Show Title<br />
</label>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Text</span>
</div>

<div class="config-option-format">
	<pv-color-picker id="textColor" ng-model="config.textColor" config="config">
	</pv-color-picker>
</div>

<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="number" ng-model="config.fontSize">Text Size<br />
</label> -->