<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Attributes Names Settings</span>
</div>

<div class="c-config-content">
    Latitude attribute name:
    <input type="text" ng-model="config.LatName">
</div>
<div class="c-config-content">
    Longitude attribute name:
    <input type="text" ng-model="config.LngName">
</div>

<div class="c-config-content">
    Heading attribute name:
    <input type="text" ng-model="config.HeadingName">
</div>
<div class="c-config-content">
    Pitch attribute name:
    <input type="text" ng-model="config.PitchName">
</div>

<div class="c-config-content">
    Zoom attribute name:
    <input type="text" ng-model="config.ZoomName">
</div>

<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Street View Options</span>
</div>


<div class="c-config-content">
    Address Control:
    <input type="checkbox" ng-model="config.AddressControl">
</div>

<div class="c-config-content">
    Click To Go:
    <input type="checkbox" ng-model="config.ClickToGo">
</div>

<div class="c-config-content">
    Disable Default UI:
    <input type="checkbox" ng-model="config.DisableDefaultUI">
</div>

<div class="c-config-content">
    Disable Double Click Zoom:
    <input type="checkbox" ng-model="config.DisableDoubleClickZoom">
</div>

<div class="c-config-content">
    Image Date Control:
    <input type="checkbox" ng-model="config.ImageDateControl">
</div>


<div class="c-config-content">
    Pan Control:
    <input type="checkbox" ng-model="config.PanControl">
</div>


<div class="c-config-content">
    Zoom Control:
    <input type="checkbox" ng-model="config.ZoomControl">
</div>
